:root {
    --white-color:                  #ffffff;
    --primary-color:                #0dcaf0;
    --secondary-color:              #0d6efd;
    --section-bg-color:             #f0f8ff;
    --dark-color:                   #000000;
    --navbar-bg-color:              #273053;
    --p-color:                      #717275;
    --highlight-icon-color:         #ff0100;
  
    --body-font-family:             'DM Sans', sans-serif;
  
    --h1-font-size:                 62px;
    --h2-font-size:                 48px;
    --h3-font-size:                 36px;
    --h4-font-size:                 32px;
    --h5-font-size:                 24px;
    --h6-font-size:                 22px;
    --p-font-size:                  18px;
  
    --font-weight-normal:           400;
    --font-weight-medium:           500;
    --font-weight-bold:             700;
  }

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff7eb3, #bf45d7);
}

.primeiroDiv {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

#SelecionarRadio {
    margin: 20px auto;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#radioInfo {
    margin-top: 30px;
}

#radioInfo h2 {
    margin-bottom: 10px;
}

#radioInfo p {
    margin-bottom: 5px;
    color: #555;
}

.btn-voltar {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-voltar:hover {
  background-color: var(--secondary-color);
}