:root {
    --white-color:                  #ffffff;
    --primary-color:                #0dcaf0;
    --secondary-color:              #0d6efd;
    --section-bg-color:             #f0f8ff;
    --dark-color:                   #000000;
    --navbar-bg-color:              #273053;
    --p-color:                      #717275;
    --highlight-icon-color:         #ff0100;
  
    --body-font-family:             'DM Sans', sans-serif;
  
    --h1-font-size:                 62px;
    --h2-font-size:                 48px;
    --h3-font-size:                 36px;
    --h4-font-size:                 32px;
    --h5-font-size:                 24px;
    --h6-font-size:                 22px;
    --p-font-size:                  18px;
  
    --font-weight-normal:           400;
    --font-weight-medium:           500;
    --font-weight-bold:             700;
  }


  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    border: 5px;
    border-color: #f0f8ff;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .container-nav a img {
    width: 70px;
    height: auto;
  }
  
  
  .container-nav img {
    width: 300px;
    height: auto;
  }
  
  .navbar-brand {
    font-size: 20px;
    line-height: 1.2rem;
    vertical-align: top;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
  }
  
  .navbar-brand span {
    position: absolute;
    font-size: 24px;
    font-weight: bold; 
    padding: 5px 10px; 
    top: 20px;
    color: transparent; 
    background: linear-gradient(to right, #ff7eb3, #bf45d7);
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  .navbar-nav {
    text-align: center; 
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; 
  }
  
  .nav-link:hover {
    color: #ccc;
  }


body {

    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff7eb3, #bf45d7);
}

.primeiroDiv {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

#SelecionarRadio {
    margin: 20px auto;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#radioInfo {
    margin-top: 30px;
}

#radioInfo h2 {
    margin-bottom: 10px;
}

#radioInfo p {
    margin-bottom: 5px;
    color: #555;
}