body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff7eb3, #bf45d7);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: floralwhite;
  margin-left: 60px;
  margin-right: 60px;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre os botões */
  margin-bottom: 20px;
}

button {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff85c1;
}

#result {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
  border-radius: 5px solid; 
  border: 5px solid;
  border-image: linear-gradient(to right, #4d4d4d, #676767) 1;
}

#result p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

#result a {
  display: block;
  margin: 5px 0;
  color: #1a73e8;
  text-decoration: none;
}

#result a:hover {
  text-decoration: underline;
}

#audioFile {
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  width: 300px;
  background: linear-gradient(145deg, #6c6c6c, #4b4b4b);
  color: #f0efef;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-align: center;
  display: inline-block;
}

#audioFile:hover {
  background: linear-gradient(145deg, #4b4b4b, #6c6c6c);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

#audioFile:focus {
  outline: none;
}

#audioFile::file-selector-button {
  color: white;
  border-radius: white 2px;
  background: linear-gradient(to right, hsl(258, 80%, 34%), #493d98); 
}

.custom-file-input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 400px;
  margin-bottom: 10px;
  color: rgb(119, 119, 119);
}

.custom-file-input:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.back-button {
  background: linear-gradient(to right, #646fb7, #3015b7);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #c88fb0;
}
